html {
    height: auto!important;
    overflow-y: auto!important;
    font-size: 62.5%!important;
}

body {
    height: auto!important;
    overflow-y: auto!important;
    font-size: 1.6rem!important;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 2.4rem;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* TOOLTIPS */
[data-tooltip]:after {

}

/* HEADERS */
h1, h2, h3, h4, h5, h6, .ui.header {
    font-family: 'Poppins', sans-serif!important;
    font-weight: 400!important;
    font-style: normal!important;
    line-height: 1!important;
    margin: 2rem 0 1rem 0!important;
}

/* FORMS */
.ui.input input:focus, .ui.input.focus input {
    border-color: #94C120;
}

/* SIZES */
.container {
    width: 100%!important;
    max-width: 114rem;
}

/* COLORS */
.olive{color:#94C120}

/* MENUS */
.ui.menu {
    /*font-size: 1.4rem;*/
}

.ui.main.menu {
    background: #94C120;
    border-radius: 0;
    margin-bottom: 0;
    min-height: 0;
}

.ui.main.menu .container {
    height: 4rem;
}

.ui.main.menu:not(.vertical) .item {

}

/* MAIN MENU */
.ui.site.menu {
    height: 6rem;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 0!important;
    border-top: none;
    border-left: none;
    border-right: none;
}
.ui.site.menu .container {
    max-width: 140rem;
    /*overflow: hidden;*/
}
#icon {
    top: -9.2rem;
    margin-left: -8rem;
}
.ui.site.menu .container .icon.item {
    padding: 0;
}
.ui.site.menu .container .icon.item img {
    height: 4.5rem;
    width: 4.5rem;
}

/* MOBILE SWITCH */
#menuTrigger {
    display: none;
}
@media (max-width: 800px) {
    .ui.site.menu .container .left.menu {
        display: none;
    }
    #menuTrigger {
        display: block;
    }
}

/* LEFT AND RIGHT MENUS */
.ui.site.menu .container .menu {
    margin: 0;
}
.ui.site.menu .container .menu .item {
    padding: .35714286em 1.5em;
}
/* LEFT AND RIGHT MENU ITEMS */
@media (max-width: 346px) {
    .ui.site.menu .container .menu .item {
        padding: .35714286em 1em;
    }
}
@media (min-width: 801px) and (max-width: 1070px) {
    .ui.site.menu .container .menu .item {
        padding: .35714286em .5em;
    }
}

/* LEFT MENU ITEMS */
.ui.site.menu .container .left.menu .item {
    font-family: 'Varela Round', sans-serif;
    font-weight: 600;
}
.ui.site.menu .container .left.menu .item:first-child {
    padding-left: 4.2rem;
}

/* RIGHT MENU ITEMS */
.ui.site.menu .container .right.menu .last.item {
    padding-right: 10px;
}

.ui.site.menu .pointing.account.dropdown.item .menu {
    margin-top: 1.15rem;
    left:-4rem;
    width: 15rem;
}

/* SUBMENU */
.dd {
    width: 100%;
    height: 100%;
    max-height: 100px;
    background: #b5cc18!important;
    position: absolute!important;
    left: 0;
    right: 0;
    top: -40px;
    z-index: 1;
}

/* SHOPPING  CART COUNTER */
.cartCount {
    position: absolute;
    display: inline-block!important;
    right: 0px;
    top: 0px;
    text-align: center;
    color: #fff;
    background-color: #4f4f4f;
    border-radius: 50%;
    font-size: 0.6rem;
    line-height: 13px;
    width: 12px;
    height: 12px;
    padding: 0;
}

/* HEADER */
header.container .logo {
    padding: 3em 0;
}
.banner:first-child {
    padding-right: 20px;
}
.banner .img-fluid {
    max-width: 250px;
}
.ui.perfect.image {
    max-width: 100%;
    width: 100%;
}

.ui.items .loyalty .content h1 {
    font-family: 'Montserrat', sans-serif!important;
    margin: 0;
    line-height: 0.75em;
}
.ui.items .loyalty .content h1 small {
    font-family: 'Montserrat', sans-serif!important;
    font-size: 0.5em;
}
.alt.header {
    font-family: 'Montserrat', sans-serif!important;
    font-weight: 500!important;
}

.w3-display-container {
    max-width: 1140px;
    padding: 1.5em 0;
}
.w3-button, .w3-button:hover, .w3-button:focus, .w3-button:active {
    outline: none!important;
}
.w3-button {
    font-size: 300%;
    opacity: 0.5;
    text-shadow: 4px 4px 15px #000;
}
.w3-button, .w3-button:hover, .w3-black, .w3-hover-black:hover {
    color: #fff!important;
    background-color: transparent!important;
}
.w3-button:hover {
    opacity: 1;
}

footer {
    position: relative;
    background: rgb(108, 153, 0);
    background: -moz-linear-gradient(0deg, rgb(110, 150, 0) 0%, rgb(120, 160, 10) 28%, rgb(130, 170, 20) 59%, rgb(140, 180, 30) 84%, rgb(150, 190, 40) 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #6c9900), color-stop(28%, #76a30a), color-stop(59%, #80ad14), color-stop(84%, #8ab71e), color-stop(100%, #94c128));
    background: -webkit-linear-gradient(0deg, rgb(110, 150, 0) 0%, rgb(120, 160, 10) 28%, rgb(130, 170, 20) 59%, rgb(140, 180, 30) 84%, rgb(150, 190, 40) 100%);
    background: -o-linear-gradient(0deg, rgb(110, 150, 0) 0%, rgb(120, 160, 10) 28%, rgb(130, 170, 20) 59%, rgb(140, 180, 30) 84%, rgb(150, 190, 40) 100%);
    background: -ms-linear-gradient(0deg, rgb(110, 150, 0) 0%, rgb(120, 160, 10) 28%, rgb(130, 170, 20) 59%, rgb(140, 180, 30) 84%, rgb(150, 190, 40) 100%);
    background: linear-gradient(0deg, rgb(110, 150, 0) 0%, rgb(120, 160, 10) 28%, rgb(130, 170, 20) 59%, rgb(140, 180, 30) 84%, rgb(150, 190, 40) 100%);
}

footer .footer.icon {
    opacity: 0.9;
    position: absolute;
    background: url(https://dev.organicstart.com/6ER9VVULHkFvvmJg/footer-icon.png);
    background-repeat: no-repeat;
    background-position: center center;
    right: 0;
    bottom: 5.5rem;
    width: 30rem;
    height: 20rem;
    background-size: contain;
}

footer .ui.wave.segment {
    padding-top: 4rem;
     background-image: url("https://dev.organicstart.com/6ER9VVULHkFvvmJg/wave.png");
     background-repeat: repeat-x;
    background-position: top; 
}
.footer.social > .item {
    font-size: 2.4rem;
    text-shadow: 0 0 0.25rem rgba(0,0,0,0.5);
}
.footer.divider {
    margin: 3rem 0;
    padding: 0;
}
.footer.menu .item {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1;
    text-shadow: 0 0 0.25rem rgba(0,0,0,0.25);
    padding: 0.5rem 0;
    margin: 0;
}
.footer.menu .header {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    text-shadow: 0 0 0.5rem rgba(0,0,0,1);
    padding: 1rem 0;
    margin: 0;
}
.legal p {
    margin-bottom: 0;
}
.legal a {
    color: #fff!important;
}

.ui.large.fluid.icon.partially.tansparent.input > i.icon {
    color: #fff;
    font-size: 1.8rem;
    right: 1.8rem;
    opacity: 1;
    text-shadow: 0 0 0.3rem rgba(0,0,0,0.3);
}
.ui.large.fluid.icon.partially.tansparent.input > input {
    color: #fff;
    background: rgba(255, 255, 255,0.25);
    border-radius: 2.8rem;
    font-family: 'Varela Round', sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
    padding: 1.4rem 2.8rem;
    text-shadow: 0 0 0.3rem rgba(0,0,0,0.3);
}
.ui.large.fluid.icon.partially.tansparent.input > input::-webkit-input-placeholder {
    color: #fff;
    opacity: 1;
    text-shadow: 0 0 0.3rem rgba(0,0,0,0.3);
}
.ui.large.fluid.icon.partially.tansparent.input > input::-moz-placeholder {
    color: #fff;
    opacity: 1;
    text-shadow: 0 0 0.3rem rgba(0,0,0,0.3);
}
.ui.large.fluid.icon.partially.tansparent.input > input:-ms-input-placeholder {
    color: #fff;
    opacity: 1;
    text-shadow: 0 0 0.3rem rgba(0,0,0,0.3);
}
.ui.large.fluid.icon.partially.tansparent.input > input:-moz-placeholder {
    color: #fff;
    opacity: 1;
    text-shadow: 0 0 0.3rem rgba(0,0,0,0.3);
}

.ui.divider{margin:4rem 0}
.ui.divider.mt-0{margin-top:0!important}
.ui.divider.mb-0{margin-bottom:0!important}

.ui.large.fluid.icon.partially.tansparent.input input:focus, .ui.large.fluid.icon.partially.tansparent.input.focus input{
  border-color:rgba(0,0,0,.25)!important;
}

.ui.sidebar.menu .item{
	font-family: 'Varela Round', sans-serif;
	font-weight: 600;
}

.pushable{
	padding:auto!important;
}

.ui.site.menu .pointing.account.dropdown.item .menu{
	margin-left:0!important;
	z-index:9999;
}
.wholesale-banner{
    display:block;
    height:20vh;
    min-height:250px;
    margin:0;
    background-image:url(https://triad.imgix.net/os/i/home-wholesale-banner-bg.jpg?q=80&w=320);
    background-size:cover;
    background-position:center 60%;
    background-repeat:no-repeat
}
@media only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min-device-pixel-ratio:1.5),only screen and (min-resolution:1.5dppx),only screen and (min-resolution:144dpi){
    .wholesale-banner{
        background-image:url(https://triad.imgix.net/os/i/home-wholesale-banner-bg.jpg?dpr=1.5&q=60&w=320)
    }
}
@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:2dppx),only screen and (min-resolution:192dpi){
    .wholesale-banner{
        background-image:url(https://triad.imgix.net/os/i/home-wholesale-banner-bg.jpg?dpr=2&q=40&w=320)
    }
}
@media only screen and (-webkit-min-device-pixel-ratio:2.8541666666666665),only screen and (-webkit-min-device-pixel-ratio:3),only screen and (min-device-pixel-ratio:3),only screen and (min-resolution:3dppx),only screen and (min-resolution:274dpi){
    .wholesale-banner{
        background-image:url(https://triad.imgix.net/os/i/home-wholesale-banner-bg.jpg?dpr=3&q=20&w=320)
    }
}
@media only screen and (-webkit-min-device-pixel-ratio:4),only screen and (min-device-pixel-ratio:4),only screen and (min-resolution:4dppx),only screen and (min-resolution:384dpi){
    .wholesale-banner{
        background-image:url(https://triad.imgix.net/os/i/home-wholesale-banner-bg.jpg?dpr=4&q=10&w=320)
    }
}
@media (min-width:560px){
    .wholesale-banner{
        background-image:url(https://triad.imgix.net/os/i/home-wholesale-banner-bg.jpg?q=80&w=560)
    }
}
@media only screen and (min-width:560px) and (-webkit-min-device-pixel-ratio:1.5),only screen and (min-width:560px) and (min-device-pixel-ratio:1.5),only screen and (min-width:560px) and (min-resolution:1.5dppx),only screen and (min-width:560px) and (min-resolution:144dpi){
    .wholesale-banner{
        background-image:url(https://triad.imgix.net/os/i/home-wholesale-banner-bg.jpg?dpr=1.5&q=60&w=560)
    }
}
@media only screen and (min-width:560px) and (-webkit-min-device-pixel-ratio:2),only screen and (min-width:560px) and (min-device-pixel-ratio:2),only screen and (min-width:560px) and (min-resolution:2dppx),only screen and (min-width:560px) and (min-resolution:192dpi){
    .wholesale-banner{
        background-image:url(https://triad.imgix.net/os/i/home-wholesale-banner-bg.jpg?dpr=2&q=40&w=560)
    }
}
@media only screen and (min-width:560px) and (-webkit-min-device-pixel-ratio:2.8541666666666665),only screen and (min-width:560px) and (-webkit-min-device-pixel-ratio:3),only screen and (min-width:560px) and (min-device-pixel-ratio:3),only screen and (min-width:560px) and (min-resolution:3dppx),only screen and (min-width:560px) and (min-resolution:274dpi){
    .wholesale-banner{
        background-image:url(https://triad.imgix.net/os/i/home-wholesale-banner-bg.jpg?dpr=3&q=20&w=560)
    }
}
@media only screen and (min-width:560px) and (-webkit-min-device-pixel-ratio:4),only screen and (min-width:560px) and (min-device-pixel-ratio:4),only screen and (min-width:560px) and (min-resolution:4dppx),only screen and (min-width:560px) and (min-resolution:384dpi){
    .wholesale-banner{
        background-image:url(https://triad.imgix.net/os/i/home-wholesale-banner-bg.jpg?dpr=4&q=10&w=560)
    }
}
@media (min-width:768px){
    .wholesale-banner{
        background-image:url(https://triad.imgix.net/os/i/home-wholesale-banner-bg.jpg?q=80&w=768)
    }
}
@media only screen and (min-width:768px) and (-webkit-min-device-pixel-ratio:1.5),only screen and (min-width:768px) and (min-device-pixel-ratio:1.5),only screen and (min-width:768px) and (min-resolution:1.5dppx),only screen and (min-width:768px) and (min-resolution:144dpi){
    .wholesale-banner{
        background-image:url(https://triad.imgix.net/os/i/home-wholesale-banner-bg.jpg?dpr=1.5&q=60&w=768)
    }
}
@media only screen and (min-width:768px) and (-webkit-min-device-pixel-ratio:2),only screen and (min-width:768px) and (min-device-pixel-ratio:2),only screen and (min-width:768px) and (min-resolution:2dppx),only screen and (min-width:768px) and (min-resolution:192dpi){
    .wholesale-banner{
        background-image:url(https://triad.imgix.net/os/i/home-wholesale-banner-bg.jpg?dpr=2&q=40&w=768)
    }
}
@media only screen and (min-width:768px) and (-webkit-min-device-pixel-ratio:2.8541666666666665),only screen and (min-width:768px) and (-webkit-min-device-pixel-ratio:3),only screen and (min-width:768px) and (min-device-pixel-ratio:3),only screen and (min-width:768px) and (min-resolution:3dppx),only screen and (min-width:768px) and (min-resolution:274dpi){
    .wholesale-banner{
        background-image:url(https://triad.imgix.net/os/i/home-wholesale-banner-bg.jpg?dpr=3&q=20&w=768)
    }
}
@media only screen and (min-width:768px) and (-webkit-min-device-pixel-ratio:4),only screen and (min-width:768px) and (min-device-pixel-ratio:4),only screen and (min-width:768px) and (min-resolution:4dppx),only screen and (min-width:768px) and (min-resolution:384dpi){
    .wholesale-banner{
        background-image:url(https://triad.imgix.net/os/i/home-wholesale-banner-bg.jpg?dpr=4&q=10&w=768)
    }
}
@media (min-width:1024px){
    .wholesale-banner{
        background-image:url(https://triad.imgix.net/os/i/home-wholesale-banner-bg.jpg?q=80&w=1024)
    }
}
@media only screen and (min-width:1024px) and (-webkit-min-device-pixel-ratio:1.5),only screen and (min-width:1024px) and (min-device-pixel-ratio:1.5),only screen and (min-width:1024px) and (min-resolution:1.5dppx),only screen and (min-width:1024px) and (min-resolution:144dpi){
    .wholesale-banner{
        background-image:url(https://triad.imgix.net/os/i/home-wholesale-banner-bg.jpg?dpr=1.5&q=60&w=1024)
    }
}
@media only screen and (min-width:1024px) and (-webkit-min-device-pixel-ratio:2),only screen and (min-width:1024px) and (min-device-pixel-ratio:2),only screen and (min-width:1024px) and (min-resolution:2dppx),only screen and (min-width:1024px) and (min-resolution:192dpi){
    .wholesale-banner{
        background-image:url(https://triad.imgix.net/os/i/home-wholesale-banner-bg.jpg?dpr=2&q=40&w=1024)
    }
}
@media only screen and (min-width:1024px) and (-webkit-min-device-pixel-ratio:2.8541666666666665),only screen and (min-width:1024px) and (-webkit-min-device-pixel-ratio:3),only screen and (min-width:1024px) and (min-device-pixel-ratio:3),only screen and (min-width:1024px) and (min-resolution:3dppx),only screen and (min-width:1024px) and (min-resolution:274dpi){
    .wholesale-banner{
        background-image:url(https://triad.imgix.net/os/i/home-wholesale-banner-bg.jpg?dpr=3&q=20&w=1024)
    }
}
@media only screen and (min-width:1024px) and (-webkit-min-device-pixel-ratio:4),only screen and (min-width:1024px) and (min-device-pixel-ratio:4),only screen and (min-width:1024px) and (min-resolution:4dppx),only screen and (min-width:1024px) and (min-resolution:384dpi){
    .wholesale-banner{
        background-image:url(https://triad.imgix.net/os/i/home-wholesale-banner-bg.jpg?dpr=4&q=10&w=1024)
    }
}
@media (min-width:1440px){
    .wholesale-banner{
        background-image:url(https://triad.imgix.net/os/i/home-wholesale-banner-bg.jpg?q=80&w=1440)
    }
}
@media only screen and (min-width:1440px) and (-webkit-min-device-pixel-ratio:1.5),only screen and (min-width:1440px) and (min-device-pixel-ratio:1.5),only screen and (min-width:1440px) and (min-resolution:1.5dppx),only screen and (min-width:1440px) and (min-resolution:144dpi){
    .wholesale-banner{
        background-image:url(https://triad.imgix.net/os/i/home-wholesale-banner-bg.jpg?dpr=1.5&q=60&w=1440)
    }
}
@media only screen and (min-width:1440px) and (-webkit-min-device-pixel-ratio:2),only screen and (min-width:1440px) and (min-device-pixel-ratio:2),only screen and (min-width:1440px) and (min-resolution:2dppx),only screen and (min-width:1440px) and (min-resolution:192dpi){
    .wholesale-banner{
        background-image:url(https://triad.imgix.net/os/i/home-wholesale-banner-bg.jpg?dpr=2&q=40&w=1440)
    }
}
@media only screen and (min-width:1440px) and (-webkit-min-device-pixel-ratio:2.8541666666666665),only screen and (min-width:1440px) and (-webkit-min-device-pixel-ratio:3),only screen and (min-width:1440px) and (min-device-pixel-ratio:3),only screen and (min-width:1440px) and (min-resolution:3dppx),only screen and (min-width:1440px) and (min-resolution:274dpi){
    .wholesale-banner{
        background-image:url(https://triad.imgix.net/os/i/home-wholesale-banner-bg.jpg?dpr=3&q=20&w=1440)
    }
}
@media only screen and (min-width:1440px) and (-webkit-min-device-pixel-ratio:4),only screen and (min-width:1440px) and (min-device-pixel-ratio:4),only screen and (min-width:1440px) and (min-resolution:4dppx),only screen and (min-width:1440px) and (min-resolution:384dpi){
    .wholesale-banner{
        background-image:url(https://triad.imgix.net/os/i/home-wholesale-banner-bg.jpg?dpr=4&q=10&w=1440)
    }
}
@media (min-width:2561px){
    .wholesale-banner{
        background-image:url(https://triad.imgix.net/os/i/home-wholesale-banner-bg.jpg?q=80&w=2560)
    }
}
@media only screen and (min-width:2561px) and (-webkit-min-device-pixel-ratio:1.5),only screen and (min-width:2561px) and (min-device-pixel-ratio:1.5),only screen and (min-width:2561px) and (min-resolution:1.5dppx),only screen and (min-width:2561px) and (min-resolution:144dpi){
    .wholesale-banner{
        background-image:url(https://triad.imgix.net/os/i/home-wholesale-banner-bg.jpg?dpr=1.5&q=60&w=2560)
    }
}
@media only screen and (min-width:2561px) and (-webkit-min-device-pixel-ratio:2),only screen and (min-width:2561px) and (min-device-pixel-ratio:2),only screen and (min-width:2561px) and (min-resolution:2dppx),only screen and (min-width:2561px) and (min-resolution:192dpi){
    .wholesale-banner{
        background-image:url(https://triad.imgix.net/os/i/home-wholesale-banner-bg.jpg?dpr=2&q=40&w=2560)
    }
}
@media only screen and (min-width:2561px) and (-webkit-min-device-pixel-ratio:2.8541666666666665),only screen and (min-width:2561px) and (-webkit-min-device-pixel-ratio:3),only screen and (min-width:2561px) and (min-device-pixel-ratio:3),only screen and (min-width:2561px) and (min-resolution:3dppx),only screen and (min-width:2561px) and (min-resolution:274dpi){
    .wholesale-banner{
        background-image:url(https://triad.imgix.net/os/i/home-wholesale-banner-bg.jpg?dpr=3&q=20&w=2560)
    }
}
@media only screen and (min-width:2561px) and (-webkit-min-device-pixel-ratio:4),only screen and (min-width:2561px) and (min-device-pixel-ratio:4),only screen and (min-width:2561px) and (min-resolution:4dppx),only screen and (min-width:2561px) and (min-resolution:384dpi){
    .wholesale-banner{
        background-image:url(https://triad.imgix.net/os/i/home-wholesale-banner-bg.jpg?dpr=4&q=10&w=2560)
    }
}
.wholesale-banner:active,.wholesale-banner:focus,.wholesale-banner:hover{
    color:#fff
}
.wholesale-banner .container{
    height:100%;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column;
    padding:0 1rem;
    background:rgba(0,0,0,.2);
    text-align:center
}
@media screen and (min-width:1024px){
    .wholesale-banner .container{
        -webkit-box-orient:horizontal;
        -webkit-box-direction:normal;
        -webkit-flex-direction:row;
        -ms-flex-direction:row;
        flex-direction:row
    }
}
.wholesale-banner .container h2,.wholesale-banner .container h3{
    color:#fff;
    text-shadow:1px 1px 1rem rgba(0,0,0,.9)
}
.wholesale-banner .container h2{
    display:block;
    font-family:Fredoka One,cursive;
    font-weight:400;
    margin:0 1rem 0 0!important;
}
.wholesale-banner .container h3{
    display:block;
    margin:0!important;
    font-weight: 300!important;
}
