<nav class="ui right sidebar vertical menu">
  <a class="item" id="sidebar-close"><i class="material-icons">&#xE5CD;</i></a>
  <a class="item" href="https://support.organicstart.com/hc/en-us/categories/115000448613-Nutrition" title="Nutrition">Nutrition &amp; Ingredients</a>
  <a class="item" href="https://support.organicstart.com/hc/en-us/sections/115000941634-Common-Q-As" title="Common Q&As">Common Q&amp;As</a>
  <a class="item" href="https://support.organicstart.com/hc/en-us/categories/115000447534-Instructions" title="Instructions">Preperation &amp; Instructions</a>
  <a class="item" href="https://support.organicstart.com/hc/en-us/categories/115000448813-Orders" title="Orders">Order Questions</a>
  <a class="item" href="https://support.organicstart.com/hc/en-us/categories/115000448633-Wholesale" title="Wholesale">Everything Wholesale</a>
  <a class="item" href="https://support.organicstart.com/hc/en-us/articles/360000114354" title="Inventory">Inventory Levels</a>
  <a class="item" href="https://support.organicstart.com/hc/en-us/sections/360000011453-Loyalty-Rewards-Program" title="Loyalty Rewards Program">Loyalty Rewards Program</a>
  <a class="item" href="https://support.organicstart.com/hc/en-us/sections/360000011473-Gift-Certificates" title="Gift Certificates">Gift Certificates</a>
  <a class="item" href="https://support.organicstart.com/hc/en-us/requests/new" title="Tech Support">Tech Support</a>
</nav>
<div class="pusher" itemscope="itemscope" itemtype="http://schema.org/WebPageElement">
  <div class="ui small borderless inverted horizontal red segment d-print-none m-0">
      <nav class="container">
        <p class="text-white font-weight-bold">Our infant milk formulas are unavailable in the United States. The contents of this website is for international customers.</p>
      </nav>
  </div>
  <div class="ui borderless site menu d-print-none">
      <div class="container">
          <div id="icon" class="icon item"> 
              <a title="Organic Start" href="https://support.organicstart.com/hc/en-us">
                  <img src="{{asset 'icon-transparent-1000.png'}}" title="Organic Start" alt="Organic Start">
              </a>
          </div>
          <nav class="ui left text menu" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
              <span class="item" itemprop="name"><a class="item pl-0 pr-0" itemprop="url" href="https://support.organicstart.com/hc/en-us/sections/115000941634-Common-Q-As" title="Common Q&As">Q&amp;As</a></span>
             	<span class="item" itemprop="name"><a class="item pl-0 pr-0" itemprop="url" href="https://support.organicstart.com/hc/en-us/categories/115000448613-Nutrition" title="Nutrition">Nutrition</a></span>
              <span class="item" itemprop="name"><a class="item pl-0 pr-0" itemprop="url" href="https://support.organicstart.com/hc/en-us/categories/115000447534-Instructions" title="Instructions">Instructions</a></span>
              <span class="item" itemprop="name"><a class="item pl-0 pr-0" itemprop="url" href="https://support.organicstart.com/hc/en-us/categories/115000448813-Orders" title="Orders">Orders</a></span>
              <span class="item" itemprop="name"><a class="item pl-0 pr-0" itemprop="url" href="https://support.organicstart.com/hc/en-us/categories/115000448633-Wholesale" title="Wholesale">Wholesale</a></span>
              <span class="item" itemprop="name"><a class="item pl-0 pr-0" itemprop="url" href="https://support.organicstart.com/hc/en-us/articles/360000114354" title="Inventory">Inventory</a></span>
              <span class="item" itemprop="name"><a class="item pl-0 pr-0" itemprop="url" href="https://support.organicstart.com/hc/en-us/sections/360000011453-Loyalty-Rewards-Program" title="Loyalty Rewards Program">Rewards</a></span>
              <span class="item" itemprop="name"><a class="item pl-0 pr-0" itemprop="url" href="https://support.organicstart.com/hc/en-us/sections/360000011473-Gift-Certificates" title="Gift Certificates">Gift Certificates</a></span>
          </nav>
          <div class="ui right text menu">
              <!--<div class="ui pointing account dropdown link item">
                  <span class="text"><i class="material-icons">&#xE853;</i></span>
                  <div class="menu">
                      <div class="text-center header">
                        Retail
                      </div>
                      <div class="divider mt-0 mb-0"></div>
                      <a class="item" href="https://organicstart.com/account.php?action=order_status">Orders</a>
                      <a class="item" href="https://organicstart.com/account.php?action=account_details">Settings</a>
                      <a class="item" href="https://organicstart.com/account.php?action=inbox">Messages</a>
                      <a class="item" href="https://organicstart.com/account.php?action=address_book">Address Book</a>
                      <a class="item" href="https://www.affiliatly.com/af-101054/affiliate.panel">Affiliate Panel</a>
                      <div class="divider mt-0 mb-0"></div>
                      <div class="text-center header">
                        Wholesale
                      </div>
                      <div class="divider mt-0 mb-0"></div>
                      <a class="item" href="https://organicstartwholesale.com/account">Dashboard</a>
                      <a class="item" href="https://organicstartwholesale.com/account/addresses">Address Book</a>
                  </div>
              </div>-->
              <a class="item" id="menuTrigger">
                  <i class="material-icons">&#xE5D2;</i>
              </a>
          </div>
      </div>
  </div>
  <header class="container text-center" itemscope itemtype="http://schema.org/WPHeader">
    <a title="Organic Start" href="https://support.organicstart.com/hc/en-us">
      <img src="{{asset 'logo-1000.png'}}" alt="Organic Start" class="ui large image mx-auto img-fluid">
    </a>
  </header>