<!DOCTYPE html>
<html class="no-js" lang="{{ locale_name }}"></html>
   <head>
       <meta http-equiv="refresh" content="0;URL='http://alert.organicstart.com/'" />
   </head>
   <body>
   </body>
</html>