/***** Hero component *****/
.hero {
  background-image: url($homepage_background_image);
  background-position: center;
  background-size: cover;
  height: 300px;
  padding: 0 20px;
  text-align: center;
  width: 100%;

  &-inner {
    @include vertical-align;
    max-width: 610px;

    &-center {
      top: 50%;
      margin: 0 auto;
    }

    &-top-left {
      top: 10%;
      margin: 0 auto 0 0;
    }

    &-top-right {
      top: 10%;
      margin: 0 0 0 auto;
    }

    &-bottom-left {
      top: 90%;
      margin: 0 auto 0 0;
    }

    &-bottom-right {
      top: 90%;
      margin: 0 0 0 auto;
    }
  }
}
